.datatable__wrapper {
  --odd: rgba(195, 207, 212, 0.2);
  --even: rgba(129, 139, 143, 0.2);
  --color: #383838;
  --border-color: #383838;
  display: grid;
  grid-template-areas: 'head' 'btnsarea' 'bod' 'pag';
  gap: .5rem;
  width: 100%;
  color: var(--color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
}

.datatable__wrapper:is(.dark) {
  color-scheme: dark light;
  --odd: rgba(155, 195, 211, 0.2);
  --even: rgb(104 130 141 / 20%);
  --color: #fff;
  --border-color: #fff;
}

.datatable__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0rem;
  grid-area: head;
}

.select__usercount,
.datatable__input__search {
  padding: 5px;
  border-radius: 8px;
  border: var(--border-color) 1px solid;
}

.datatable__input__search {
  width: 100%;
  min-width: 30px;
  outline: none;
}

thead button {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: var(--border-color) 1px solid;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datatable__body {
  height: 280px;
  overflow-y: auto;
  grid-area: bod;
  scrollbar-width: thin;
}

.datatable__footer {
  grid-area: pag;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.datatable__footer__btns {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.datatable__footer__btn {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  border: var(--border-color) 1px solid;
}
.datatable__footer__btn--number {
  padding: 4px 8px;
}
.datatable__footer__btn--active {
  background-color: var(--border-color);
  color: blue;
}

.datatable__body tr:nth-child(odd) {
  background-color: var(--odd);
}

.datatable__body tr:nth-child(even) {
  background-color: var(--even);
}